<!DOCTYPE html>    
<html>    
<head> 
    <style>
        button{background-color:rgb(74, 151, 202);
            color: rgb(17, 17, 14);
            font-weight: bolder;
            border-radius: 20%;
            padding:10px 25px;
            position: absolute;
            left: 46%;
        }
    </style>   
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="style.css">    
</head>    
<body>    
      
    <div class="login" style="background-image: url(images/book1.jpg);background-size: 100% 100%;">  
        <img src="images/user.jpg"><br><br><br><h2>LOG IN</h2>  
    <form id="login" method="get" action="index.html">    
        <label><b>Email ID    
        </b>    
        </label> <hr>   
        <input type="email" name="email" id="email" placeholder="Email_id" required>    
        <br><br><br>    
        <label><b>Password     
        </b>    
        </label><hr>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password" required>    
        <br><br>
           
        <button id="login" value="Log In" aria-placeholder="Log In" >Log In</button>   
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
       
    </form>     
</div>    
</body>  

</html>     